target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
*.csv
*.cdx.gz
*~
*.iml
/nohup.out
/.idea/
logs&
cloud/
*.tgz
*.tar.gz
solr/
scripts.conf
solrcdx.properties
